.home-text-wrap {
  width: 100vw;
  line-height: 50px;
  text-align: center;
  justify-content: center;
}
.home-text-wrap img {
  border-radius: 75%;
  -webkit-animation: mover 1.5s infinite alternate;
  animation: mover 1.5s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(05);
  }
  100% {
    transform: translateY(-20px);
  }
}

.pog h1 {
  font-size: 50px;
  font-family: "Poppins";
}
.home-features {
  text-transform: uppercase;
  text-align: center;
  margin-left: 100px;
}

.homeMain {
  height: 95vh;
}
.home-text-wrap img {
  height: 400px;
}

.btn-home {
  background-color: #ad91ff !important;
  color: white !important;
}
@media screen and (max-width: 768px) {
  .homeMain {
    height: 125vh;
  }

  .home-text-wrap img {
    height: 256px;
  }
}
